*.asm.rpt

*.done

*.fit.rpt

# *.mif

*.fit.smsg

*.fit.summary

*.rpt

*.summary

*.pin

*.pof

*.qsf

*.qws

*.rpt

*.sof

*.tan.rpt

*.tan.summary

*.bak

db/

incremental_db/

*.qpf

*.map

*.qpf
